<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <%if @user.avatar_url.nil?%>
            <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
          <% else %>
            <%= image_tag @user.avatar_url,style:"width:150px; height: 150px; border-radius:100%"  %>
          <% end %>          
          <span class="font-weight-bold">Edogaru</span>
          <span class="text-black-50">edogaru@mail.com.my</span>
          <span> </span>
        </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">Name</label>
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control"%>
            </div>

            <div class="col-md-6">
              <label class="labels">Surname</label>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control"%>
            </div>
          </div>

          <div class="field">
            <%= f.label :avatar %><br />
            <%= f.file_field :avatar, accept: "image/*"%>
          </div>

          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Email</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>


            <div class="col-md-12">
              <label class="labels">Password</label>
              <i >(leave blank if you don't want to change it)</i>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="col-md-12">
              <label class="labels">Password Confirmation</label>
              <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
            </div>

            <div class="col-md-12">
              <label class="labels">Current Password</label>
              <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
            </div>
          </div>

          <div style="margin-top: 10px;">
            <%= link_to "add address", add_location_path(current_user), class: 'btn btn-outline-primary' %>
          </div>
          

          <div style="margin-top: 10px;">
            <% if @user.locations.size > 1 %>
              <h6>Addresses: </h6>
            <% else %>
              <h6>Address: </h6>
            <% end %>
            <ul style="list-style-type:disc">
            <% @user.locations.each do |location| %>
            <br/>
             <li>
                <%=  link_to location.address, nil, remote: true, data: {
                  controller: "locations",
                  action: "locations#initMap",
                  locations_latitude_param: "#{location.latitude}",
                  locations_longitude_param: "#{location.longitude}"
                }  %>
                <!-- delete address button-->
                <%= link_to "Delete", destroy_address_path(current_user,location), method: :delete, class: 'btn btn-outline-danger', style: 'float: right;' %>
                <br />
              </li>
            <% end %>
            </ul>

            <div id="map" class="d-none"></div><br/>
          </div>

          <%= link_to 'Add Number', users_mobile_phone_path, class: 'btn btn-outline-primary' %>

          <div style="margin-top: 10px;">
            <% if @user.mobiles.size > 1 %>
              <h6>Mobile Number: </h6>
            <% else %>
              <h6>Mobile Numbers: </h6>
            <% end %>
            <ul class="list-inside space-y-2">
              <% @user.mobiles.each do |mobile| %>
              <br />
                <li>
                  <%= mobile.number %>
                  <%= link_to 'Delete', destroy_mobile_path(current_user,mobile), method: :delete, class: 'btn btn-outline-danger', style: 'float: right;' %>
                </li> 
              <% end %>
            </ul>
          </div>

          <br />
          <div class="actions">
            <%= f.submit "Update", class: "btn btn-outline-primary" %>
          </div>
        <% end %>

        <% if current_user.subscribed? %>
          <div style="margin-top: 10px;">
            <%= button_to "Manage billing", billings_path, data: { turbo: false }, class: 'btn btn-outline-primary' %>
          </div>
        <% end %>

      <p>Unhappy?
        <%= button_to "Cancel my account", registration_path(resource_name), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "btn btn-outline-danger" %>
        </p>
        <%= link_to "Back", :back, class: "btn btn-outline-primary", style: "margin-top: 10px;"%>
      </div>
      </div>
    </div>
  </div>
</div>

<style>
  #map {
        height: 350px;
        width:  100%;
    }
</style>