
<div class="container">
  <%= render @post %>
  <div>
  <% if current_user == @post.user || current_user.admin? %>
  <div class="container-sm">
    <div class="row align-items-start" style="margin-bottom: 10px;">
      <div class="col-md-auto">
        <%= button_to t(:edit_this_post), edit_post_path(@post), :method => "get", class: "btn btn-outline-primary" %>
      </div>
      <div class="col-md-auto">
        <%= button_to t(:back_to_posts), posts_path, :method => "get", class: "btn btn-outline-primary" %>
      </div>
      <div class="col-md-auto">
        <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-outline-danger" %>
      </div>
    </div>
  </div>
  <% else %>
    <%= button_to t(:back_to_posts), posts_path, :method => "get", class: "btn btn-outline-primary" %>
  <% end %>
  </div>
</div>
<div class="container" style=" margin-bottom: 50px">
  <%= render 'comments/form', 
    post: @post, 
    comment: @post.comments.build,
    submit_label: "Reply" %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', 
    post: @post, 
    comment: comment %>
  <% end %>
</div>